<footer class="footer">
  <p>This page was authored in <a href="http://asciidoc.org/">AsciiDoc</a> with <a href="https://asciidoctor.org/">Asciidoctor</a> and built using <a href="https://antora.org/">Antora</a> and adapted <a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a>.</p>
</footer>
